.formContainer {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* align-content: center; */
  background-color: black;
  height: 80px;
  padding-top: 15px;
}

.searchButton {
  max-width: 50px;
  max-height: 30px;
  border: #C5BE7D 2px solid;
  margin-right: 500px;
  font-weight: bolder;
  color: black;
  text-align: center;
  padding-top: 10px;
  margin-left: 10px;
}

#findMovie {
  width: 30vw;
}