.movieContainer {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.moviePic {
  height: 90vh;
  width: 900px;
}

.movieInfo {
  max-height: 90vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 30px 0 10px 0;
  text-align: center;
}

h2 {
  font-weight: 300;
  font-size: 30px;

}

ul {
  margin: 10px 0 30px 0;
  text-align: center;
  font-size: 30px;
  list-style: none;
}

li {
  margin: 25px;
}

.homeButton {
  width: 250px;
  height: 70px;
  background-color: black;
  color: whitesmoke;
  border-radius: 10px;
  text-align: center;
  font-size: x-large;
  margin-left: 30px;
}

.sum {
  height: 40vh;
}